/* Header 樣式 */
@keyframes gradientAnimation {
  0% { background-position: 0% 0%; }
  50% { background-position: 100% 100%; }
  100% { background-position: 0% 0%; }
}

header {
  background: rgba(255, 182, 208, 0.8); /* 浅粉色背景 */
  background-size: 400% 400%;  /* 增加背景圖像的覆蓋範圍 */
  animation: gradientAnimation 15s ease infinite; /* 設置動畫效果*/
  color: #fff;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* 增加陰影效果 */
  position: relative;
}

header .logo3 {
  content: '';
  position: absolute;
  top: 0%; /* 調整至 h1 的中間 */
  right: 35%; /* 根據需要調整 */
  width: 150px; /* 設定寬度，根據需要調整 */
  height: auto; /* 自動調整高度以保持比例 */
  background-repeat: no-repeat;
  border-radius: 0; /* 確保不會變成圓形 */
  opacity: 0; /* 初始不顯示 */
  visibility: hidden; /* 初始不顯示 */
  transition: opacity 0.3s ease, visibility 0.3s ease; /* 添加過渡效果 */
}

header .logo3_2 {
  content: '';
  position: absolute;
  top: 59%; /* 調整至 h1 的中間 */
  left: 25%; /* 根據需要調整 */
  width: 190px; /* 設定寬度，根據需要調整 */
  height: auto; /* 自動調整高度以保持比例 */
  background-repeat: no-repeat;
  border-radius: 0; /* 確保不會變成圓形 */
  opacity: 0; /* 初始不顯示 */
  visibility: hidden; /* 初始不顯示 */
  transition: opacity 0.3s ease, visibility 0.3s ease; /* 添加過渡效果 */
}


header .logo2 {
  content: '';
  position: absolute;
  top: 25px; /* 置於 h1 下面 */
  right: 100px;
  width: 200px; /* 設定寬度，根據需要調整 */
  height: auto; /* 自動調整高度以保持比例 */
  background-repeat: no-repeat;
  border-radius: 0; /* 確保不會變成圓形 */
  opacity: 0; /* 初始不顯示 */
  visibility: hidden; /* 初始不顯示 */
  transition: opacity 0.1s ease, visibility 0.1s ease; /* 添加過渡效果 */
  z-index: 2;
  pointer-events: none; /* 讓圖片不攔截滑鼠事件 */
}

/* Header 內容 */
.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between; /* 左邊是標題，右邊是漢堡選單 */
}

header .logo {
  max-width: 150px;
  height: auto;
  border-radius: 100%;
}

header h1 {
  margin: 0;
  z-index: 1; 
}

/* h1 hover 時顯示 logo2 和 logo3 以及 logo3_2 */
header h1:hover + .logo2,
header h1:hover ~ .logo3,
header h1:hover ~ .logo3_2 { /* 新增這一行 */
  opacity: 1; /* 顯示 logo2 和 logo3 */
  visibility: visible; /* 設置為可見 */
}

header h1 a {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  color: #fff; /* 标题的颜色 */
  text-decoration: none; /* 去除下劃線 */
  font-size: 1.2em; /* 設定字體大小 */
  position: relative; /* 設定為相對定位，以便後面的絕對定位元素可以參考 */
  display: inline-block; /* 使元素可設置寬高，並允許 padding 和 margin 生效 */
  transition: color 0.3s ease, transform 0.3s ease, background-color 0.3s ease; /* 設定顏色、變形和背景顏色的過渡效果 */
  padding: 5px 10px; /* 增加內邊距以使背景顏色更顯示 */
  border-radius: 5px; /* 添加圓角，讓邊緣看起來更柔和 */
}

header h1 a:hover {
  color: #feffed; /* 在 hover 時改變字體顏色 */
  transform: scale(1.05); /* 在 hover 時稍微放大元素 */
  background-color: rgba(255, 247, 206, 0.1); /* 在 hover 時改變背景顏色 */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

header h1 a::after {
  content: ''; /* 使用伪元素創建一個空內容 */
  position: absolute; /* 絕對定位，以便可以精確放置 */
  left: 50%; /* 將元素放置在父元素的中間 */
  bottom: 0; /* 將元素放在父元素的底部 */
  width: 100%; /* 設定寬度為父元素的 100% */
  height: 2px; /* 設定底部線條的高度 */
  background-color: #fff7ce; /* 設定底部線條顏色 */
  transform: translateX(-50%) scaleX(0); /* 初始狀態，不顯示（縮放為 0） */
  transition: transform 0.3s ease; /* 設定底部線條的過渡效果 */
}

header h1 a:hover::after {
  transform: translateX(-50%) scaleX(1); /* 在 hover 時顯示底部線條 */
}


/* 導航樣式 */
nav {
  /* margin-top: 10px; */
  display: flex;
  flex-direction: column; /* 將選單分為上下兩行 */
}

.nav-top {
  list-style: none;
  position: fixed; /* 固定在頁面上 */
  right: 0; /* 距離頁面左側 */
  top: 0; /* 距離頁面頂部 */
  background-color: rgba(0, 0, 0, 0.4); /* 半透明底色 */
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 10px;
  z-index: 1000;
  border-radius: 25px; /* 添加圓角，讓邊緣看起來更柔和 */
}

.nav-top li {
  display: flex;
  align-items: center;
  z-index: 2; 
}

.nav-top li a{
  color: #fff;
  text-decoration: none;
  font-size: 1em;
  background: none;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 2; 
  border-radius: 25px; /* 添加圓角，讓邊緣看起來更柔和 */
}

.nav-top li a:hover{
  text-decoration: underline;
  background-color:rgba(255, 105, 180, 0.7); /* 懸停時背景顏色 */
}

/* 下拉菜單樣式 */
.nav-menu {
  display: none; /* 默認隱藏 */
  position: absolute; /* 絕對定位 */
  top: 100%; /* 從父元素（menu-button）底部開始 */
  left: -100px; /* 與父元素（menu-button）左邊對齊 */
  background: rgba(0, 0, 0, 0.6);
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  pointer-events: none; /* 初始禁用點擊事件 */
  opacity: 0; /* 初始不透明 */
  transition: opacity 0.3s; /* 添加過渡效果 */
  
  /* 新增的屬性 */
  max-height: 300px; /* 設定最大高度 */
  overflow-y: auto; /* 當內容超出時顯示垂直滾動條 */
}

/* 顯示下拉菜單 */
.dropdown .nav-menu.show {
  display: block;
  opacity: 1; /* 顯示時不透明 */
  pointer-events: auto; /* 顯示時啟用點擊事件 */
}

/* 連結樣式 */
.nav-menu a {
  display: block;
  padding: 10px 15px; /* 增加上下內邊距以改善可讀性 */
  color: #ddd;
  text-decoration: none;
  border-bottom: 1px solid #ddd;
  margin: -5px 0; /* 上下邊距為負值 */
}

/* 連結懸停樣式 */
.nav-menu a:hover {
  color: #ffffff !important;
  background-color: rgba(255, 105, 180, 0.7); /* 懸停時背景顏色 */
}

.dropdown_social-icon {
  width: 20px; /* 圖標寬度 */
  height: 20px; /* 圖標高度 */
  margin-right: 8px; /* 圖標與文字之間的間距 */
}





/* 漢堡選單樣式 */
.menu-toggle {
  display: none;
  background: rgba(255, 105, 180, 0.9); /* 滾動條滑塊顏色 */
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.5em;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 999;
}

/* 搜尋框樣式 */
.nav-bottom {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 10px;
}


#press_show_cute img {
  width: 30px; /* 設定圖片寬度 */
  height: 30px; /* 設定圖片高度 */
}